<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/Features-Clean.css">
    <link rel="stylesheet" href="static/assets/css/Header-Blue.css">
    <link rel="stylesheet" href="static/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
</head>

<body style="background-color: rgba(200,200,200,0.5);height: 133px;min-height: 242px;"><div class="header">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a href="#" class="nav-link text-white">Início</a></li>
    </ul>
    <a class="nav-link text-info" href="/exercicios">Exercícios</a>
    <a class="nav-link text-info" href="#">Calculadora</a></nav>
    <main role="main">
        <div class="jumbotron" style="background: url(static/assets/img/bg_math2.png);">
            <div class="container div_fundo_interna">
                <h2 class="row justify-content-md-center display-4 text-dark">O Matemático</h2>
            </div>
        </div>
    </main>
</div>
    <div class="features-clean" style="background-color: rgba(200,200,200,0.5);height: 645px;padding: 0px;margin: 0px;min-height: 359px;margin-top: 18px;">
        <div class="container">
            <div>
                <h2 class="text-center">QUEM NÓS SOMOS</h2>
                <p class="text-justify">Nossa equipe tem como objetivo ajudar os brasileiros, de maneira didática e intuitiva, a gerenciarem melhor suas vidas financeiras através do uso da matemática, ciência que procura examinar padrões para que possamos entender mais sobre o mundo em que nós vivemos.</p>
                <p class="text-justify">Para isso, nós disponibilizamos aulas gratuitas aos nossos estudantes para que, desse modo, eles possam ter uma base para realizar nossos exercícios on-line. Nós começamos com questões fáceis e vamos aumentando a dificuldade no decorrer do curso.</p>
            </div>
            <div class="row features" style="min-height: 400px;height: 400px;">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-pencil icon"></i>
                    <h3 class="name">Jhon Jhon</h3>
                    <p class="description"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Sei la</h3>
                    <p class="description"><br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Alguma coisa</h3>
                    <p class="description"><br>&nbsp;Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. velit esse cillum dolore eu fugiat nulla pariatur.&nbsp;<br><br></p>
                </div>
            </div>
        </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
