<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css?d=20190926">
    <title>Inicio</title>
</head>
<body class="text-center login">
    <div class="form_login">
        <form class="form-signin" action="/processar_cadastro">
            <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1><br>
            <input type="text" name="nome" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Nome" required=""><br>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Sobrenome" required=""><br>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus=""><br>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required=""><br>
            <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirmar Senha" required=""><br>
            <button class="btn btn-lg btn-primary btn-block bg-dark" type="submit">Cadastrar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
